/*---------------
Goole Font
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/*-----------------
common CSS
-----------------*/

*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    width: 1140px;
}

